<h2>Project: {{ projectId }}</h2>

<h3>Create New Experiment</h3>
<mat-form-field appearance="fill">
  <mat-label>Select Blueprint</mat-label>
  <mat-select [(ngModel)]="selectedBlueprintId" name="blueprintSelect">
    <mat-option *ngFor="let type of experimentTypes" [value]="type.id">
      {{ type.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="createExperiment()">+ Create Experiment</button>

<h3>Experiments</h3>
<ul>
  <li *ngFor="let exp of experiments">
    {{ exp.title }} ({{ exp.experiment_type_name }})
  </li>
</ul>
