/* styles.scss or app.component.scss */

/* Navbar */
mat-toolbar {
  background-color: #159655c9; /* Light background */
  color: #222222; /* Dark text */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 0 16px;
}
