<app-navbar (toggleSidenav)="onToggleSidenav()"></app-navbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/projects" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Projects
      </a>
      <a mat-list-item routerLink="/create-experiment-type" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Experiment Types
      </a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>